<%- include("partials/header"); -%>



<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <p>Invalid Credentials</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-1 col-lg-12">

        </div>
        <div class="col-xl-10 col-lg-12">
            <div class="box">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <h3 class="display-3" style="text-align: center; color:brown">App Name</h3>
                        <p class="lead" style="text-align: center; font-weight: bold; color: darkgray;">Send Emails Easily</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-2 col-lg-12">
                        
                    </div>
                    <div class="col-xl-8 col-lg-12">
                        <div class="loginForm">
                        <p class="lead" style="text-align: center;">Sign In</p>
                        <hr>
                        </div>
                        <form action="/login" class="px-4 py-3 loginForm" method="POST" autocomplete="off"> 
                            <div class="form-group">
                                <label for="username">Name</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Enter Username">
                            </div>
                            <div class="form-group">
                                <label for="username">Gmail Id</label>
                                <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">
                            </div>
                            <button type="submit" name="button" class="btn btn-primary float-right" style="border-radius: 25px;">Sign In</button>
                            
                            <hr class="mt-5">                             
                        </form>
                        
                        
                        </div>   
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-12">
            
        </div>
       

        
    </div>
</div>




<%- include("partials/footer"); -%>
